<div class='outset'> 
  <table class='index' id='group_twitter_accounts'> 
    <thead>
      <tr> 
        <th class='name'><%= t("activerecord.attributes.group_twitter_account.name") %></th>
        <th class='user_id'><%= t("activerecord.attributes.group_twitter_account.user_id") %></th> 
        <th class='modify'><%= t("modify") %></th> 
      </tr>
    </thead> 
    <tbody>
    <% @accounts.each do |account| %>
      <tr class='node level_1'> 
        <td class='user'>
          <%= link_to image_tag(account.profile_image_url || "/images/admin/avatar_32x32.png",
                                :width => 48, :height => 48, :class => "avatar"),
                                "http://twitter.com/#{account.screen_name}" %>
          <%= link_to account.name || "", "http://twitter.com/#{account.screen_name}" %>
          <span class='login'><%=h account.screen_name %></span>
        </td> 
        <td class='roles'><%= account.user_id %></td> 
        <td class='remove'>
          <%= link_to t("remove"), admin_group_twitter_path(:action => :delete),
                      :confirm => t("group_twitter.group_twitter_account.remove_warning"), :method => "delete" %>
        </td> 
      </tr>
    <% end %>
    </tbody> 
  </table> 
</div> 
<div id='actions'> 
  <ul> 
    <li><%= link_to image_tag("/images/admin/plus.png") + " " + t('group_twitter.update_shared_twitter_account'),
                    admin_group_twitter_path(:action => :auth_by_twitter) %></li> 
  </ul> 
</div> 




